*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-position: left -10em top 149%,right -19em bottom 150%;
    background-repeat: no-repeat, no-repeat;
    background-color: #1B98A6;
}
.card{
    background: url(./images/bg-pattern-card.svg) no-repeat top;
    background-size: cover;
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 2rem;
    box-shadow:
       0 -3em 3em rgba(0,0,0,0.1),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    transform: translateY(50%);      
}
.card-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2rem;
    width: 462px;
    border-radius:0 0 2rem 2rem;
    position: absolute;
    bottom: 0em;
    background-color: #ffffff;
}
img{
    align-items: center;
    border: 8px solid #ffffff;
    border-radius: 50%;
    transform: translate(8%,-44%);
}
span{
    margin-left: 0.7rem;
    opacity: 0.5;
    font-size: 35px;
}
.name{
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
.info{
    display: flex;
}
.in1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
h3{
    font-weight: 300;
    letter-spacing: 2px;
}
ul{
    padding: 2rem;
}
.attribution{
    display: flex;
    justify-content: center;
     position: fixed;
    left: 0;
    bottom: 0;    
}
@media screen and (min-width: 320px) and (max-width: 420px){
    body{
        background-size: cover,cover;
        background-position: left -17rem top -15rem,right -18rem bottom -35rem;
    }
    
    .container{
        width: 100vw;
        /* display: none; */
    }
    .card{
        width: 71vw;
        height: 320px;
    }
    .card-main {
        width: 59vw;
    }
    h1{
        font-size: 15px;
    }
    h2{
        font-size: 12px;
    }
    h3{
        font-size: 10px;
        letter-spacing: 0;
    }
    span{
        font-size: 17px;
    }
    img{
        border: 2px solid #ffffff;
    }
    .name{
        padding: 0;
    }
    .in1{
        margin: 0.4rem;
    }
}
@media screen and (min-width: 420px) and (max-width: 620px){
    body{
        background-size: cover,cover;
        background-position: left -17rem top -15rem,right -18rem bottom -35rem;
    }
    
    .container{
        width: 100vw;
        /* display: none; */
    }
    .card{
        width: 68vw;
        height: 415px;
    }
    .card-main {
        width: 61.5vw;
    }
    
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 15px;
        letter-spacing: 0;
    }
    span{
        font-size: 22px;
    }
    .in1{
        margin: 0.4rem;
    }
}
@media screen and (min-width: 620px) and (max-width: 720px){
    body{
        background-size: cover,cover;
        background-position: left -17rem top -15rem,right -18rem bottom -35rem;
    }
    
    .container{
        width: 100vw;
        /* display: none; */
    }
    .card{
        width: 67.9vw;
        height: 415px;
    }
    .card-main {
        width: 61.5vw;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 15px;
        letter-spacing: 0;
    }
    span{
        font-size: 22px;
    }
    .in1{
        margin: 0.4rem;
    }
}
@media screen and (min-width: 720px) and (max-width: 1120px){
    body{
        background-size: cover,cover;
        background-position: left -17rem top -15rem,right -18rem bottom -35rem;
    }
    
    .container{
        width: 100vw;
        /* display: none; */
    }
    .card{
        width: 55.5vw;
        height: 385px;
    }
    .card-main {
        width: 50.8vw;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 15px;
        letter-spacing: 0;
    }
    span{
        font-size: 22px;
    }
    .in1{
        margin: 0.4rem;
    }
}