*{
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}
:root{
    --Dark_cyan: hsl(185, 75%, 39%);
    --Very_dark_desaturated_blue: hsl(229, 23%, 23%);
    --Dark_grayish_ablue: hsl(227, 10%, 46%);
    --Dark_gray: hsl(0, 0%, 59%);
}
.container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
body{
    background: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-position: left -10em top 149%,right -19em bottom 150%;
    background-repeat: no-repeat, no-repeat;
    /* background-color: #1B98A6; */
    background-color: var(--Dark_cyan);
}
.card{
    background: url(./images/bg-pattern-card.svg) no-repeat top;
    background-size: cover;
    position: relative;
    width: 20vw;
    height: 22vw;
    border-radius: 0.8rem;
    box-shadow:
       0 -3em 3em rgba(0,0,0,0.1),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    transform: translateY(50%);      
}
.card-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    border-radius:0 0 0.8rem 0.8rem;
    position: absolute;
    bottom: 0em;
    background-color: #ffffff;
}
img{
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 50%;
    transform: translate(8%,-44%);
}
span{
    margin-left: 1rem;
    color: var(--Dark_gray);
    font-size: 30px;
}
.name{
    display: flex;
    align-items: center;
}
.info{
    display: flex;
}
.info-part
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.info-head{
    font-weight: 700;
    font-size: 1.5rem;
}
.info-type{
    font-weight: 400;
    letter-spacing: 2px;
}
ul{
    padding: 2rem;
}
.attribution{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;    
}
@media screen and (max-width: 568px){
    body{
        background-size: cover,cover;
        background-position: left -17rem top -15rem,right -18rem bottom -35rem;
    }
    
    .container{
        width: 100%;
    }
    .card{
        width: 300px;
        height: 320px;
    }
    .card-main {
        width: 300px;
    }
    .info-head{
        font-size: 15px;
    }
    h2{
        font-size: 12px;
    }
    .info-type{
        font-size: 10px;
        letter-spacing: 0;
    }
    span{
        font-size: 17px;
    }
    img{
        border: 2px solid #ffffff;
    }
    .name{
        padding: 0;
    }
}

@media screen and (max-width: 1440px){
    body{
        background-size: cover,cover;
        background-position: left -17rem top -15rem,right -18rem bottom -35rem;
    }
    
    .container{
        width: 100%;
    }
    .card{
        width: 300px;
        height: 350px;
    }
    .card-main {
        width: 300px;
    }
    .info-head{
        font-size: 20px;
    }
   .info{gap: 1rem;}
    h2{
        font-size: 18px;
    }
    .info-type{
        font-size: 15px;
        letter-spacing: 0;
    }
    span{
        font-size: 22px;
    }
  
}